In [12]:
import pandas as pd

# Expanded dataset with additional spacecraft and rockets
data = {
    "ID": [
        "S001", "S002", "S003", "S004", "S005", "S006", "S007", "S008", "S009", "S010",
        "S011", "S012", "S013", "S014", "S015", "S016", "S017", "S018", "S019", "S020",
        "R001", "R002", "R003", "R004", "R005", "R006", "R007", "R008", "R009", "R010",
        "R011", "R012", "R013", "R014", "R015", "R016", "R017", "R018"
    ],
    "Type": [
        "Mining Lander", "Heavy Transporter", "Survey Satellite", "Modular Miner", "Light Cargo Rocket", 
        "Recon Orbiter", "Mining Drone", "Heavy Cargo Rocket", "Deep Space Miner", "Survey Lander", 
        "Asteroid Harvester", "Long-Range Probe", "Mining Lander", "Modular Miner", "Cargo Drone", 
        "Cargo Transporter", "Recon Probe", "Survey Satellite", "Asteroid Surveyor", "Cargo Shuttle", 
        "Falcon 9", "Falcon Heavy", "Electron", "Ariane 5", "Vega", "Starship", 
        "Falcon 9", "Falcon Heavy", "Electron", "Ariane 5", "Vega", 
        "Starship", "Falcon 9", "Falcon Heavy", "Electron", "Ariane 5", 
        "Starship", "Vega"
    ],
    "Mass (tons)": [
        22, 60, 3, 28, 15, 5, 3.5, 80, 35, 12,
        25, 50, 5, 35, 10, 45, 2, 2.5, 3, 2.5,
        550, 1420, 12, 780, 300, 5000, 
        550, 1420, 12, 780, 300,
        5000, 550, 1420, 12, 780,
        5000, 300
    ],
    "Max Delta-V (km/s)": [
        8.5, 7.0, 12.0, 9.0, 11.0, 14.0, 10.5, 6.5, 7.5, 9.5, 
        9.5, 8.5, 10.0, 9.0, 12.0, 8.0, 9.0, 10.5, 9.0, 10.0, 
        9.0, 9.5, 9.5, 8.5, 7.5, 8.0, 
        9.0, 9.5, 9.5, 8.5, 7.5,
        8.0, 9.0, 9.5, 9.5, 8.5,
        9.0, 8.5
    ],
    "Range (AU)": [
        1.8, 4.5, 10.0, 2.5, 3.0, 15.0, 1.2, 5.0, 4.0, 3.5, 
        2.0, 3.5, 5.0, 2.8, 1.8, 3.5, 3.0, 2.0, 2.0, 2.5, 
        0, 0, 0, 0, 0, 0, 
        1.8, 4.5, 10.0, 2.5, 3.0,
        15.0, 1.8, 4.5, 10.0, 2.5,
        3.0, 1.5
    ],
    "Cargo Capacity (tons)": [
        30, 200, 0.5, 60, 15, 2, 1.5, 250, 90, 5, 
        40, 100, 2, 70, 10, 50, 8, 5, 7, 8, 
        22, 63, 1.5, 22, 2.5, 1000, 
        22, 63, 1.5, 22, 2.5, 
        1000, 22, 63, 1.5, 22, 
        2.5, 1000
    ],
    "Power Source": [
        "Nuclear", "Solar", "Solar", "Nuclear", "Solar", "Solar", "Solar", "Nuclear", "Nuclear", "Solar", 
        "Nuclear", "Solar", "Solar", "Nuclear", "Solar", "Solar", "Solar", "Solar", "Solar", "Solar", 
        "RP-1", "RP-1", "LOX/RP-1", "LOX/LH2", "LOX/LH2", "Methane/LOX", 
        "RP-1", "RP-1", "LOX/RP-1", "LOX/LH2", "LOX/LH2", 
        "Methane/LOX", "RP-1", "RP-1", "LOX/RP-1", "LOX/LH2", 
        "Methane/LOX", "LOX/LH2"
    ],
    "Thrust (kN)": [
        450, 800, 0.015, 500, 220, 0.03, 0.02, 1000, 400, 300, 
        1000, 1800, 0.02, 600, 100, 1000, 300, 400, 150, 350, 
        7600, 22200, 2250, 13500, 1600, 7600, 
        7600, 22200, 2250, 13500, 1600, 
        7600, 7600, 22200, 2250, 13500, 
        7600, 1600
    ],
    "Crew Size": [
        0, 4, 0, 2, 0, 0, 0, 5, 2, 1, 
        4, 6, 0, 5, 1, 6, 2, 4, 3, 2, 
        0, 0, 0, 0, 0, 0, 
        0, 0, 0, 0, 0, 
        0, 0, 0, 0, 0, 
        0, 0
    ],
    "Mission Duration (years)": [
        8, 5, 6, 10, 4, 7, 3, 6, 12, 5, 
        8, 7, 5, 10, 6, 7, 4, 8, 3, 9, 
        1, 1, 1, 1, 1, 2, 
        8, 5, 6, 10, 4, 
        7, 8, 5, 6, 4, 
        6, 6
    ],
    "Mining Capability (kg/h)": [
        120, "N/A", "N/A", 160, "N/A", "N/A", 50, "N/A", 180, "N/A", 
        100, 80, "N/A", 180, "N/A", 250, "N/A", 150, 200, 120, 
        "N/A", "N/A", "N/A", "N/A", "N/A", "N/A", 
        "N/A", "N/A", "N/A", "N/A", "N/A", 
        "N/A", "N/A", "N/A", "N/A", "N/A", 
        "N/A", "N/A"
    ],
    "Fuel Type": [
        "Methane", "RP-1", "Xenon", "Methane", "LOX/LH2", "Xenon", "Hydrogen", "Methane", "LOX/Methane", "RP-1", 
        "Methane", "Methane", "Methane", "Hydrogen", "Methane", "RP-1", "Xenon", "LOX/LH2", "Xenon", "Methane", 
        "RP-1", "RP-1", "LOX/RP-1", "LOX/LH2", "LOX/LH2", "Methane/LOX", "Methane", "RP-1", "Xenon", "LOX/LH2", "Xenon", "Methane", 
        "RP-1", "RP-1", "LOX/RP-1", "LOX/LH2", "LOX/LH2", "Methane/LOX"
    ]
}

fleet_df = pd.DataFrame(data)

In [11]:
for k in data.keys():
    print(k, len(data[k]))

ID 38
Type 38
Mass (tons) 38
Max Delta-V (km/s) 38
Range (AU) 38
Cargo Capacity (tons) 38
Power Source 38
Thrust (kN) 38
Crew Size 38
Mission Duration (years) 38
Mining Capability (kg/h) 38
Fuel Type 38

In [13]:
fleet_df

,ID,Type,Mass (tons),Max Delta-V (km/s),Range (AU),Cargo Capacity (tons),Power Source,Thrust (kN),Crew Size,Mission Duration (years),Mining Capability (kg/h),Fuel Type
0,S001,Mining Lander,22.0,8.5,1.8,30.0,Nuclear,450.000,0,8,120,Methane
1,S002,Heavy Transporter,60.0,7.0,4.5,200.0,Solar,800.000,4,5,N/A,RP-1
2,S003,Survey Satellite,3.0,12.0,10.0,0.5,Solar,0.015,0,6,N/A,Xenon
3,S004,Modular Miner,28.0,9.0,2.5,60.0,Nuclear,500.000,2,10,160,Methane
4,S005,Light Cargo Rocket,15.0,11.0,3.0,15.0,Solar,220.000,0,4,N/A,LOX/LH2
5,S006,Recon Orbiter,5.0,14.0,15.0,2.0,Solar,0.030,0,7,N/A,Xenon
6,S007,Mining Drone,3.5,10.5,1.2,1.5,Solar,0.020,0,3,50,Hydrogen
7,S008,Heavy Cargo Rocket,80.0,6.5,5.0,250.0,Nuclear,1000.000,5,6,N/A,Methane
8,S009,Deep Space Miner,35.0,7.5,4.0,90.0,Nuclear,400.000,2,12,180,LOX/Methane
9,S010,Survey Lander,12.0,9.5,3.5,5.0,Solar,300.000,1,5,N/A,RP-1
10,S011,Asteroid Harvester,25.0,9.5,2.0,40.0,Nuclear,1000.000,4,8,100,Methane
11,S012,Long-Range Probe,50.0,8.5,3.5,100.0,Solar,1800.000,6,7,80,Methane
12,S013,Mining Lander,5.0,10.0,5.0,2.0,Solar,0.020,0,5,N/A,Methane
13,S014,Modular Miner,35.0,9.0,2.8,70.0,Nuclear,600.000,5,10,180,Hydrogen
14,S015,Cargo Drone,10.0,12.0,1.8,10.0,Solar,100.000,1,6,N/A,Methane
15,S016,Cargo Transporter,45.0,8.0,3.5,50.0,Solar,1000.000,6,7,250,RP-1
16,S017,Recon Probe,2.0,9.0,3.0,8.0,Solar,300.000,2,4,N/A,Xenon
17,S018,Survey Satellite,2.5,10.5,2.0,5.0,Solar,400.000,4,8,150,LOX/LH2
18,S019,Asteroid Surveyor,3.0,9.0,2.0,7.0,Solar,150.000,3,3,200,Xenon
19,S020,Cargo Shuttle,2.5,10.0,2.5,8.0,Solar,350.000,2,9,120,Methane
20,R001,Falcon 9,550.0,9.0,0.0,22.0,RP-1,7600.000,0,1,N/A,RP-1
21,R002,Falcon Heavy,1420.0,9.5,0.0,63.0,RP-1,22200.000,0,1,N/A,RP-1
22,R003,Electron,12.0,9.5,0.0,1.5,LOX/RP-1,2250.000,0,1,N/A,LOX/RP-1
23,R004,Ariane 5,780.0,8.5,0.0,22.0,LOX/LH2,13500.000,0,1,N/A,LOX/LH2
24,R005,Vega,300.0,7.5,0.0,2.5,LOX/LH2,1600.000,0,1,N/A,LOX/LH2
25,R006,Starship,5000.0,8.0,0.0,1000.0,Methane/LOX,7600.000,0,2,N/A,Methane/LOX
26,R007,Falcon 9,550.0,9.0,1.8,22.0,RP-1,7600.000,0,8,N/A,Methane
27,R008,Falcon Heavy,1420.0,9.5,4.5,63.0,RP-1,22200.000,0,5,N/A,RP-1
28,R009,Electron,12.0,9.5,10.0,1.5,LOX/RP-1,2250.000,0,6,N/A,Xenon
29,R010,Ariane 5,780.0,8.5,2.5,22.0,LOX/LH2,13500.000,0,10,N/A,LOX/LH2
30,R011,Vega,300.0,7.5,3.0,2.5,LOX/LH2,1600.000,0,4,N/A,Xenon
31,R012,Starship,5000.0,8.0,15.0,1000.0,Methane/LOX,7600.000,0,7,N/A,Methane
32,R013,Falcon 9,550.0,9.0,1.8,22.0,RP-1,7600.000,0,8,N/A,RP-1
33,R014,Falcon Heavy,1420.0,9.5,4.5,63.0,RP-1,22200.000,0,5,N/A,RP-1
34,R015,Electron,12.0,9.5,10.0,1.5,LOX/RP-1,2250.000,0,6,N/A,LOX/RP-1
35,R016,Ariane 5,780.0,8.5,2.5,22.0,LOX/LH2,13500.000,0,4,N/A,LOX/LH2
36,R017,Starship,5000.0,9.0,3.0,2.5,Methane/LOX,7600.000,0,6,N/A,LOX/LH2
37,R018,Vega,300.0,8.5,1.5,1000.0,LOX/LH2,1600.000,0,6,N/A,Methane/LOX

In [91]:
import random

delta_v_cost_per_kms = 0.1  # Cost per Δv (km/s) per ton of spacecraft (in millions USD)

# Define the dataset
df = pd.DataFrame({
    "ID": [
        "S001", "S002", "S003", "S004", "S005", "S006", "S007", "S008", "S009", "S010",
        "R001", "R002", "R003", "R004", "R005", "R006", "R007", "R008", "R009", "R010"
    ],
    "Type": [
        "Mining Lander", "Heavy Transporter", "Survey Satellite", "Modular Miner", "Light Cargo Rocket",
        "Recon Orbiter", "Mining Drone", "Heavy Cargo Rocket", "Deep Space Miner", "Survey Lander",
        
        "Falcon 9", "Falcon Heavy", "Electron", "Ariane 5", "Vega", 
        "Starship", "Falcon 9", "Falcon Heavy", "Electron", "Ariane 5"
    ],
    "Mass (tons)": [
        22, 60, 3, 28, 15, 5, 3.5, 80, 35, 12,
        
        550, 1420, 1040, 780, 300, 
        5000, 550, 1420, 1040, 780
    ],
    "Max Delta-V (km/s)": [
        8.5, 7.0, 12.0, 9.0, 11.0, 14.0, 10.5, 6.5, 7.5, 9.5,
        None, None, None, None, None, None,
        None, None, None, None
    ],
    "Cargo Capacity (tons)": [
        30, 20, 0.5, 60, 15, 2, 1.5, 25, 90, 5,
        55, 142, 104, 78, 30, 
        500, 55, 142, 104, 78
    ]
})

# Separate rockets and spacecraft
rockets = df[df["Type"].str.contains("Falcon|Electron|Ariane|Vega|Starship")].drop('ID',axis=1).drop_duplicates()
spacecraft = df[~df["Type"].str.contains("Falcon|Electron|Ariane|Vega|Starship")].drop('ID',axis=1).drop_duplicates()

rockets['ID'] = list(f"R0{id + 1}" for id in range(len(rockets)))
spacecraft['ID'] = list(f"S0{id + 1}" for id in range(len(spacecraft)))

            Type  Mass (tons)  Max Delta-V (km/s)  Cargo Capacity (tons)   ID
10      Falcon 9        550.0                 NaN                   55.0  R01
11  Falcon Heavy       1420.0                 NaN                  142.0  R02
12      Electron       1040.0                 NaN                  104.0  R03
13      Ariane 5        780.0                 NaN                   78.0  R04
14          Vega        300.0                 NaN                   30.0  R05
15      Starship       5000.0                 NaN                  500.0  R06

In [80]:
int(rockets[rockets['Type'] == "Falcon 9"]["Mass (tons)"].iloc[0])

550

In [92]:
rocket_lift_prices = {
    "Falcon 9": int(rockets[rockets['Type'] == "Falcon 9"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1,       # in millions USD
    "Falcon Heavy": int(rockets[rockets['Type'] == "Falcon Heavy"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1,
    "Electron": int(rockets[rockets['Type'] == "Electron"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1,
    "Ariane 5": int(rockets[rockets['Type'] == "Ariane 5"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1,
    "Vega": int(rockets[rockets['Type'] == "Vega"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1,
    "Starship": int(rockets[rockets['Type'] == "Starship"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1
}

# Generate bundles
updated_bundles = []
for _ in range(len(rockets)*pow(len(spacecraft), 3)):
# for spacecraft in spacecraft:
    bundle_spacecraft = spacecraft.sample(random.randint(1, 3))  # Randomly choose 1-3 spacecraft
    total_mass = bundle_spacecraft["Mass (tons)"].sum()
    total_storage = bundle_spacecraft["Cargo Capacity (tons)"].sum()
    
    # Find compatible rocket
    compatible_rockets = rockets[rockets["Cargo Capacity (tons)"] >= total_mass].drop_duplicates()
    if compatible_rockets.empty:
        continue  # Skip if no compatible rocket
    
    compatible_rockets = compatible_rockets.sort_values(by="Mass (tons)", ascending=True)
    
    rocket = compatible_rockets.iloc[0]
    rocket_price = rocket_lift_prices[rocket["Type"]]
    
    # Calculate delta-v cost
    delta_v_cost = (bundle_spacecraft["Mass (tons)"] * delta_v_cost_per_kms).sum()
    
    # Add bundle details
    updated_bundles.append({
        "Bundle ID": f"B{len(updated_bundles)+1:04}",
        "Spacecraft": ", ".join(bundle_spacecraft["ID"]),
        "Rocket": rocket["ID"],
        "Total Mass (tons)": total_mass,
        "Storage Capacity (tons)": total_storage,
        "Rocket Lift Price (M$)": rocket_price,
        "Delta-V Cost (M$)": round(delta_v_cost, 2)
    })

# Convert to DataFrame and save as CSV
updated_bundle_df = pd.DataFrame(updated_bundles)

In [93]:
cleaned_bundle_df = updated_bundle_df.drop("Bundle ID", axis=1).drop_duplicates()
cleaned_bundle_df

,Spacecraft,Rocket,Total Mass (tons),Storage Capacity (tons),Rocket Lift Price (M$),Delta-V Cost (M$)
0,S02,R04,60.0,20.0,312.0,6.0
1,"S05, S01",R01,37.0,45.0,220.0,3.7
2,S04,R05,28.0,60.0,150.0,2.8
3,"S06, S01, S02",R03,87.0,52.0,624.0,8.7
5,"S010, S01, S05",R01,49.0,50.0,220.0,4.9
...,...,...,...,...,...,...
5642,"S05, S03, S010",R05,30.0,20.5,150.0,3.0
5703,"S01, S010, S09",R04,69.0,125.0,312.0,6.9
5705,"S03, S06, S01",R05,30.0,32.5,150.0,3.0
5744,"S03, S09, S010",R01,50.0,95.5,220.0,5.0
5866,"S010, S01, S06",R01,39.0,37.0,220.0,3.9

In [96]:
cleaned_bundle_df.columns = ['Spacecraft', 'Rocket', 'Total_Mass', 'Storage_Capacity', 'Rocket_Lift_Price', 'DeltaV_Cost']

In [106]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect("database_fleet.db")
cursor = conn.cursor()

# Create the table
cursor.execute("DROP TABLE IF EXISTS Boundles;")
cursor.execute("""
CREATE TABLE Boundles (
    Spacecraft TEXT NOT NULL,
    Rocket TEXT NOT NULL,
    Total_Mass REAL NOT NULL,
    Storage_Capacity REAL NOT NULL,
    Rocket_Lift_Price REAL NOT NULL,
    DeltaV_Cost REAL NOT NULL
)
""")
print("Table created successfully.")

# Insert data from DataFrame into the table
cleaned_bundle_df.to_sql("Boundles", conn, if_exists="append", index=False)
print("Data inserted successfully.")

# Commit changes and close the connection
conn.commit()
conn.close()

Table created successfully.
Data inserted successfully.

In [107]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("database_fleet.db")
cursor = conn.cursor()
query = "SELECT * FROM Boundles;"
df = pd.read_sql_query(query, conn)
df

,Spacecraft,Rocket,Total_Mass,Storage_Capacity,Rocket_Lift_Price,DeltaV_Cost
0,S02,R04,60.0,20.0,312.0,6.0
1,"S05, S01",R01,37.0,45.0,220.0,3.7
2,S04,R05,28.0,60.0,150.0,2.8
3,"S06, S01, S02",R03,87.0,52.0,624.0,8.7
4,"S010, S01, S05",R01,49.0,50.0,220.0,4.9
...,...,...,...,...,...,...
768,"S05, S03, S010",R05,30.0,20.5,150.0,3.0
769,"S01, S010, S09",R04,69.0,125.0,312.0,6.9
770,"S03, S06, S01",R05,30.0,32.5,150.0,3.0
771,"S03, S09, S010",R01,50.0,95.5,220.0,5.0
772,"S010, S01, S06",R01,39.0,37.0,220.0,3.9