In [1]:
import pandas as pd
import numpy as np

# Expanded dataset with additional spacecraft and rockets
data = {
    "ID": [
        "S001", "S002", "S003", "S004", "S005", "S006", "S007", "S008", "S009", "S010",
        "S011", "S012", "S013", "S014", "S015", "S016", "S017", "S018", "S019", "S020",
        "R001", "R002", "R003", "R004", "R005", "R006", "R007", "R008", "R009", "R010",
        "R011", "R012", "R013", "R014", "R015", "R016", "R017", "R018"
    ],
    "Type": [
        "Mining Lander", "Heavy Transporter", "Survey Satellite", "Modular Miner", "Light Cargo Rocket", 
        "Recon Orbiter", "Mining Drone", "Heavy Cargo Rocket", "Deep Space Miner", "Survey Lander", 
        "Asteroid Harvester", "Long-Range Probe", "Mining Lander", "Modular Miner", "Cargo Drone", 
        "Cargo Transporter", "Recon Probe", "Survey Satellite", "Asteroid Surveyor", "Cargo Shuttle", 
        "Falcon 9", "Falcon Heavy", "Electron", "Ariane 5", "Vega", "Starship", 
        "Falcon 9", "Falcon Heavy", "Electron", "Ariane 5", "Vega", 
        "Starship", "Falcon 9", "Falcon Heavy", "Electron", "Ariane 5", 
        "Starship", "Vega"
    ],
    "Mass (tons)": [
        22, 60, 3, 28, 15, 5, 3.5, 80, 35, 12,
        25, 50, 5, 35, 10, 45, 2, 2.5, 3, 2.5,
        550, 1420, 12, 780, 300, 5000, 
        550, 1420, 12, 780, 300,
        5000, 550, 1420, 12, 780,
        5000, 300
    ],
    "Cargo Capacity (tons)": [
        30, 200, 0.5, 60, 15, 2, 1.5, 250, 90, 5, 
        40, 100, 2, 70, 10, 50, 8, 5, 7, 8, 
        22, 63, 1.5, 22, 2.5, 1000, 
        22, 63, 1.5, 22, 2.5, 
        1000, 22, 63, 1.5, 22, 
        2.5, 1000
    ],
    "Mining Capability (dm3/h)": [
        120, np.nan, np.nan, 160, np.nan, np.nan, 50, np.nan, 180, np.nan, 
        100, 80, np.nan, 180, np.nan, 250, np.nan, 150, 200, 120, 
        np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 
        np.nan, np.nan, np.nan, np.nan, np.nan, 
        np.nan, np.nan, np.nan, np.nan, np.nan, 
        np.nan, np.nan
    ],
}

fleet_df = pd.DataFrame(data)

In [2]:
for k in data.keys():
    print(k, len(data[k]))

ID 38
Type 38
Mass (tons) 38
Cargo Capacity (tons) 38
Mining Capability (dm3/h) 38

In [3]:
fleet_df = fleet_df[~fleet_df["Type"].str.contains("Survey Satellite|Recon Orbiter|Mining Drone|Electron|Mining Lander|Vega|Survey Lander|Asteroid Surveyor|Recon Probe|Mining Lander|Long-Range Probe")]

In [4]:
import random

delta_v_cost_per_kms = 0.1  # Cost per Î”v (km/s) per ton of spacecraft (in millions USD)

# # Define the dataset
# df = pd.DataFrame({
#     "ID": [
#         "S001", "S002", "S003", "S004", "S005", "S006", "S007", "S008", "S009", "S010",
#         "R001", "R002", "R003", "R004", "R005", "R006", "R007", "R008", "R009", "R010"
#     ],
#     "Type": [
#         "Mining Lander", "Heavy Transporter", "Survey Satellite", "Modular Miner", "Light Cargo Rocket",
#         "Recon Orbiter", "Mining Drone", "Heavy Cargo Rocket", "Deep Space Miner", "Survey Lander",
#         
#         "Falcon 9", "Falcon Heavy", "Electron", "Ariane 5", "Vega", 
#         "Starship", "Falcon 9", "Falcon Heavy", "Electron", "Ariane 5"
#     ],
#     "Mass (tons)": [
#         22, 60, 3, 28, 15, 5, 3.5, 80, 35, 12,
#         
#         550, 1420, 1040, 780, 300, 
#         5000, 550, 1420, 1040, 780
#     ],
#     "Max Delta-V (km/s)": [
#         8.5, 7.0, 12.0, 9.0, 11.0, 14.0, 10.5, 6.5, 7.5, 9.5,
#         None, None, None, None, None, None,
#         None, None, None, None
#     ],
#     "Cargo Capacity (tons)": [
#         30, 20, 0.5, 60, 15, 2, 1.5, 25, 90, 5,
#         55, 142, 104, 78, 30, 
#         500, 55, 142, 104, 78
#     ]
# })

# Separate rockets and spacecraft
rockets = fleet_df[fleet_df["Type"].str.contains("Falcon|Electron|Ariane|Vega|Starship")].drop('ID',axis=1).drop_duplicates()
spacecraft = fleet_df[~fleet_df["Type"].str.contains("Falcon|Electron|Ariane|Vega|Starship")].drop('ID',axis=1).drop_duplicates()
spacecraft = spacecraft[~spacecraft["Mining Capability (dm3/h)"].isna()]

rockets['ID'] = list(f"R0{id + 1}" for id in range(len(rockets)))
spacecraft['ID'] = list(f"S0{id + 1}" for id in range(len(spacecraft)))

In [5]:
data["Type"]

['Mining Lander',
 'Heavy Transporter',
 'Survey Satellite',
 'Modular Miner',
 'Light Cargo Rocket',
 'Recon Orbiter',
 'Mining Drone',
 'Heavy Cargo Rocket',
 'Deep Space Miner',
 'Survey Lander',
 'Asteroid Harvester',
 'Long-Range Probe',
 'Mining Lander',
 'Modular Miner',
 'Cargo Drone',
 'Cargo Transporter',
 'Recon Probe',
 'Survey Satellite',
 'Asteroid Surveyor',
 'Cargo Shuttle',
 'Falcon 9',
 'Falcon Heavy',
 'Electron',
 'Ariane 5',
 'Vega',
 'Starship',
 'Falcon 9',
 'Falcon Heavy',
 'Electron',
 'Ariane 5',
 'Vega',
 'Starship',
 'Falcon 9',
 'Falcon Heavy',
 'Electron',
 'Ariane 5',
 'Starship',
 'Vega']

In [6]:
int(rockets[rockets['Type'] == "Falcon 9"]["Mass (tons)"].iloc[0])

550

In [7]:
rocket_lift_prices = {
    "Falcon 9": int(rockets[rockets['Type'] == "Falcon 9"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1,       # in millions USD
    "Falcon Heavy": int(rockets[rockets['Type'] == "Falcon Heavy"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1,
    # "Electron": int(rockets[rockets['Type'] == "Electron"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1,
    "Ariane 5": int(rockets[rockets['Type'] == "Ariane 5"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1,
    # "Vega": int(rockets[rockets['Type'] == "Vega"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1,
    "Starship": int(rockets[rockets['Type'] == "Starship"]["Mass (tons)"].iloc[0]) * random.randint(4,6) * 0.1
}

# Generate bundles
updated_bundles = []
for _ in range(len(rockets)*pow(len(spacecraft), 3)):
# for spacecraft in spacecraft:
    bundle_spacecraft = spacecraft.sample(random.randint(1, 3))  # Randomly choose 1-3 spacecraft
    total_mass = bundle_spacecraft["Mass (tons)"].sum()
    total_storage = bundle_spacecraft["Cargo Capacity (tons)"].sum()
    
    # Find compatible rocket
    compatible_rockets = rockets[rockets["Cargo Capacity (tons)"] >= total_mass].drop_duplicates()
    if compatible_rockets.empty:
        continue  # Skip if no compatible rocket
    
    compatible_rockets = compatible_rockets.sort_values(by="Mass (tons)", ascending=True)
    
    rocket = compatible_rockets.iloc[0]
    rocket_price = rocket_lift_prices[rocket["Type"]]
    
    # Calculate delta-v cost
    delta_v_cost = (bundle_spacecraft["Mass (tons)"] * delta_v_cost_per_kms).sum()
    
    # Add bundle details
    updated_bundles.append({
        "Bundle ID": f"B{len(updated_bundles)+1:04}",
        "Spacecraft": ", ".join(bundle_spacecraft["ID"]),
        "Rocket": rocket["ID"],
        "Total Mass (tons)": total_mass,
        "Storage Capacity (dm3)": total_storage * 10,
        "Rocket Lift Price (M$)": rocket_price,
        "Delta-V Cost (M$)": round(delta_v_cost, 2),
        "Mining Capability (dm3/day)": bundle_spacecraft["Mining Capability (dm3/h)"].sum() * 24
    })

# Convert to DataFrame and save as CSV
updated_bundle_df = pd.DataFrame(updated_bundles)

In [8]:
cleaned_bundle_df = updated_bundle_df.drop("Bundle ID", axis=1).drop_duplicates()
cleaned_bundle_df[cleaned_bundle_df['Storage Capacity (dm3)'] > 175]
cleaned_bundle_df['On_Mission'] = [random.choice(['True', 'False']) for _ in range(len(cleaned_bundle_df))]
cleaned_bundle_df

,Spacecraft,Rocket,Total Mass (tons),Storage Capacity (dm3),Rocket Lift Price (M$),Delta-V Cost (M$),Mining Capability (dm3/day),On_Mission
0,S06,R01,2.5,80.0,275.0,0.25,2880.0,False
1,"S06, S02, S01",R04,65.5,1580.0,3000.0,6.55,11040.0,True
2,"S06, S02, S04",R04,72.5,1680.0,3000.0,7.25,11520.0,True
3,S01,R02,28.0,600.0,710.0,2.80,3840.0,True
4,"S05, S03, S06",R04,72.5,980.0,3000.0,7.25,11280.0,True
...,...,...,...,...,...,...,...,...
850,"S02, S03, S05",R04,105.0,1800.0,3000.0,10.50,12720.0,True
855,"S01, S05, S06",R04,75.5,1180.0,3000.0,7.55,12720.0,True
956,"S03, S01, S04",R04,88.0,1700.0,3000.0,8.80,10560.0,False
970,"S05, S06, S03",R04,72.5,980.0,3000.0,7.25,11280.0,False
980,"S02, S05, S03",R04,105.0,1800.0,3000.0,10.50,12720.0,True

In [9]:
cleaned_bundle_df.columns = ['Spacecraft', 'Rocket', 'Total_Mass', 'Storage_Capacity', 'Rocket_Lift_Price', 'DeltaV_Cost', 'Mining_Capability','On_Mission']

In [10]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

# Create the table
cursor.execute("DROP TABLE IF EXISTS FLEET;")
cursor.execute("""
CREATE TABLE FLEET (
    Spacecraft TEXT NOT NULL,
    Rocket TEXT NOT NULL,
    Total_Mass REAL NOT NULL,
    Storage_Capacity REAL NOT NULL,
    Rocket_Lift_Price REAL NOT NULL,
    DeltaV_Cost REAL NOT NULL,
    Mining_Capability TEXT NOT NULL,
    On_Mission BOOLEAN NOT NULL
)
""")
print("Table created successfully.")

# Insert data from DataFrame into the table
cleaned_bundle_df.to_sql("FLEET", conn, if_exists="append", index=False)
print("Data inserted successfully.")

# Commit changes and close the connection
conn.commit()
conn.close()

Table created successfully.
Data inserted successfully.

In [11]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("database.db")
cursor = conn.cursor()
query = "SELECT * FROM FLEET;"
df = pd.read_sql_query(query, conn)
df

,Spacecraft,Rocket,Total_Mass,Storage_Capacity,Rocket_Lift_Price,DeltaV_Cost,Mining_Capability,On_Mission
0,S06,R01,2.5,80.0,275.0,0.25,2880.0,False
1,"S06, S02, S01",R04,65.5,1580.0,3000.0,6.55,11040.0,True
2,"S06, S02, S04",R04,72.5,1680.0,3000.0,7.25,11520.0,True
3,S01,R02,28.0,600.0,710.0,2.80,3840.0,True
4,"S05, S03, S06",R04,72.5,980.0,3000.0,7.25,11280.0,True
...,...,...,...,...,...,...,...,...
144,"S02, S03, S05",R04,105.0,1800.0,3000.0,10.50,12720.0,True
145,"S01, S05, S06",R04,75.5,1180.0,3000.0,7.55,12720.0,True
146,"S03, S01, S04",R04,88.0,1700.0,3000.0,8.80,10560.0,False
147,"S05, S06, S03",R04,72.5,980.0,3000.0,7.25,11280.0,False
148,"S02, S05, S03",R04,105.0,1800.0,3000.0,10.50,12720.0,True

Spacecraft TEXT NOT NULL -- Set of spacecraft IDs in mission.
Rocket TEXT NOT NULL -- Rocket ID.
Total_Mass REAL NOT NULL -- Mass of a whole set with rocket.
Storage_Capacity REAL NOT NULL -- Volume of storage for extracted minerals.
Rocket_Lift_Price REAL NOT NULL -- price of lifting rocket from Earth.
DeltaV_Cost REAL NOT NULL -- Cost per km/s delta velocity.
Mining_Capability -- How much volume can spacecraft extract per day.
On_Mission -- Are spacecraft currently on mission.

In [12]:
rockets.rename(columns={"Mass (tons)": "Mass", "Cargo Capacity (tons)": "Capacity"}, inplace=True)
rockets.drop('Mining Capability (dm3/h)', axis=1, inplace=True)
rockets

            Type    Mass  Capacity   ID
20      Falcon 9   550.0      22.0  R01
21  Falcon Heavy  1420.0      63.0  R02
23      Ariane 5   780.0      22.0  R03
25      Starship  5000.0    1000.0  R04
36      Starship  5000.0       2.5  R05

Type -- Type of rocket.
Mass -- Mass of rocket.
Capacity -- Max weight possible to lift by rocket.
ID -- ID of rocket type.

In [13]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

# Create the table
cursor.execute("DROP TABLE IF EXISTS ROCKETS;")
cursor.execute("""
    CREATE TABLE ROCKETS (
    TYPE TEXT NOT NULL,
    MASS REAL NOT NULL,
    CAPACITY REAL NOT NULL,
    ID TEXT NOT NULL
    )
""")
print("Table created successfully.")

# Insert data from DataFrame into the table
rockets.to_sql("ROCKETS", conn, if_exists="append", index=False)
print("Data inserted successfully.")

# Commit changes and close the connection
conn.commit()
conn.close()

Table created successfully.
Data inserted successfully.

In [14]:
spacecraft.drop('Mining Capability (dm3/h)', axis=1, inplace=True)
spacecraft.rename(columns={'Mass (tons)': 'Mass', 'Cargo Capacity (tons)': 'Capacity'}, inplace=True)
spacecraft

                  Type  Mass  Capacity   ID
3        Modular Miner  28.0      60.0  S01
8     Deep Space Miner  35.0      90.0  S02
10  Asteroid Harvester  25.0      40.0  S03
13       Modular Miner  35.0      70.0  S04
15   Cargo Transporter  45.0      50.0  S05
19       Cargo Shuttle   2.5       8.0  S06

Type -- Type of spacecraft.
Mass -- Mass of spacecraft.
Capacity -- Max volume possible to carry by spacecraft.
ID -- ID of spacecraft type.

In [15]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

# Create the table
cursor.execute("DROP TABLE IF EXISTS SPACECRAFTS;")
cursor.execute("""
    CREATE TABLE SPACECRAFTS (
    TYPE TEXT NOT NULL,
    MASS REAL NOT NULL,
    CAPACITY REAL NOT NULL,
    ID TEXT NOT NULL
    )
""")
print("Table created successfully.")

# Insert data from DataFrame into the table
spacecraft.to_sql("SPACECRAFTS", conn, if_exists="append", index=False)
print("Data inserted successfully.")

# Commit changes and close the connection
conn.commit()
conn.close()

Table created successfully.
Data inserted successfully.